/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap'); */
/* variables */
html{
    --peach-color:#E7816B;
    --light-peach-color:#ffad98;
    --black-color:#1D1C1E;
    --dark-gray:#333136;
    --white-color:#ffffff;
    --light-gray:#f3f5f6;
    --transparent-pink:#fbf0ee;


}

body{
    font-family: 'Jost', sans-serif;
    /* background-color: red; */
    background-color: #ffffff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn-white,.btn-pink{
    display: inline-block;
    text-decoration: none;
    /* outline: none; */
    color: var( --dark-gray);
    background-color: var( --white-color);
    padding: .9rem 1.5rem;
    font-size: .9rem;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease; 
}

.btn-white:hover{
    color: var(--light-gray);
    background-color: var(--light-peach-color);
}


.btn-pink{
    color: var(--white-color);
    background-color: var( --peach-color);
}

.btn-pink:hover{
    background-color: var(--light-peach-color);
}



.onhoverScale:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.onhoverScale:active{
    transform: scale(1);

}
