
/* 

this unit shoul be in each box to center 
or make it align try any of this unit
hero section--1.6rem
view our projectpane-- 0 1.8rem
*/


.main-content-container{
    /* border: 1px solid yellow; */
    position: relative;
    max-width: 1300px;
    /* padding: 0 1rem; */
}


    nav{
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* justify-content: space-around    ; */
        padding: 1.8rem 1.3rem;
        
    }
    nav .logo{
        width: 56%;
        height: 100%;

    }
    nav .logo img{
        height: 100%;
        width: 100%;
    }

    .ham{
        width: 7%;
        cursor: pointer;
        background: url(../img/hamburger.svg) no-repeat center;
        /* border: 1px solid green; */
        height:20px;

    }
    .ham.ham-close-pic{
        background: url(../img/hamburger-close.svg)no-repeat center;

    }
    .ham img{
        width: 100%;
        height: 100%;
    }

    .cover{
    visibility:hidden;
    opacity: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.596);
        z-index: 43;
        top: 74px;
        left:   0;
        width: 100%;
        height: 100vh;

    }

    .cover.show-cover{
        animation: show-coverAnime 1s forwards;
    }

    @keyframes show-coverAnime{
        100%{
            opacity: 1;
            visibility: visible;
            
            
        }
    }
    .nav-links-for-phones{
        
        background-color: var(--black-color);
        list-style: none;
        width: 100%;
        z-index: 44;
        padding: 1rem 1.2rem;
    }

    .nav-links-for-phones  li a{
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
    }
    .nav-links-for-phones li{
        padding: 1rem 0;
    }
    .nav-links-for-laptops{
        display: none;
    }


/* hero section styling */

.hero-section{
    position: relative;
    background-color: var( --peach-color);
    color: var(--white-color);
    padding: 0 1.6rem;
    padding-top: 2rem;

    background-image: url(../img/Oval.png);
    background-repeat: no-repeat;
    background-position-y: 49%;
}

.hero__heading{
    text-align: center;

    /* border: 1px solid green; */
    padding:1.3rem 0 ;
    margin-top: 8%;
    z-index: 55;

}
.hero__heading h1{
    /* font-size: 2.4rem; */
    font-weight: 400;
  
}
.hero__heading p{
    margin-top:6%;
    padding: 1rem 0;
}


.oval-in-hero__section{
    position: absolute;
    display: none;
}

.hero-section-phone-conatiner {
    width: 90%;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0 auto;
    margin-top: 8%;

}
.hero-section-phone-conatiner img{
    width: 100%;
    height: 100%;
    margin-bottom: -2%;
}

/* endhero section styling */




/* start of our project styleing  */


.view_our_project_pane{
    /* border: 1px solid brown; */
    margin-top: 27% ;
    padding: 0 1.8rem;
}

.project{
    display: block;
    /* border: 1px solid red; */
    width: 100%;
    color: white;
    padding: 5rem .8rem;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin: 6% 0;
    cursor: pointer;
    /* transition: all 1s ease; */
    
    transition: all .2s ease;
     
}

.project h3{
    font-size: 1.8rem;
    font-weight: 400;
}

.project p{
    letter-spacing: 5px;
    font-weight: 400;
    font-size: .8rem;
    margin-top: 2%;
}
.project p img{
    margin-left: 2%;
    
}
.project.project-box1{
    background: url(../img/web-devpics.jpg)no-repeat center/cover;

}

.project.project-box2{
    background: url(../img/mobile-dev-pic.jpg)no-repeat center/cover;

}


.project.project-box3{
    background: url(../img/graphic\ desing\ pics.JPG)no-repeat center/cover;

}
/* end of our project styleing  */



/* start of styling for about us pane */

.about_us_pane{
    /* border: 1px solid red; */
    padding: 0 1.6rem;
    margin-top: 25%;
    margin-bottom: 10%;

}
.about_us_box{
    width: 100%;
    margin: 15% 0;
    /* border: 1px solid rebeccapurple; */
}

.about_us_images{
    width: 50%;
    /* border: 1px solid black; */
    margin: 0 auto;
}
.about_us_images img{
    width: 100%;
    height: 100%;
}
.about_us_content{
    text-align: center;
/* border: 1px solid red; */
}
.about_us_content h2{
    color: black;
    padding: 1rem 0;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 1.6rem;
}

.about_us_content p{
    color:var( --dark-gray) ;
    text-align: center;
}
/* end of styling for about us pane */


/* start get in touch pane */
.get_in_touch_pane{
    
    background-color: var(--peach-color);
    background-image:  url(../img/Oval.png),url(../img/Oval.png),url(../img/Oval.png);
    background-position:-150px 210px,10px 195px, 10px -109px ;
    background-size: 200px,320px     ,     320px;
    background-repeat: no-repeat,no-repeat;  
    max-width: 90%;
    margin: 0 auto;
    border-radius: 7px;
    padding:  1rem 2rem;
    text-align: center;
    color: white;

    z-index:48;
    margin-bottom: -90px;
}


.get_in_touch_pane h2{
    font-size: 2rem;
    padding: 1rem 0;
}

.get_in_touch_pane p{
    padding: 1rem 0;
    padding-bottom: 1.8rem;
}



/* end get in touch pain */



/* start of footer style */
footer{
    z-index: 1;
    background-color: #1d1d1f;
}


.footer-nav-pane{
    /* border: 1px solid red; */
    text-align: center;
    position: relative;
}

.footer-logo{
    /* border: 1px solid green; */
    width: 50%;
    margin: 7% auto;
    /* border-bottom: 1px solid red; */
    /* position: relative; */
}
.footer-logo::after{
    content: "";
    position: absolute;
    top: 30%;
    left: 2%;
    background-color: #333333;
    /* border: 1px solid red; */
    z-index: 1;
    height: 1.2px;
    width: 95%;
   /* transform: translate(-50%,-50%); */
}
.footer-logo img{
    width: 100%;
    height: 100%;
}

.footer-navlinks{
    margin-top: 14%;
}
.footer-navlinks li{
    list-style-type: none;
    padding:1rem  0;

}
.footer-navlinks a{
    text-decoration: none;
    color: white;
}


/* footer addresse style */

.footer-addresses{
    /* border: 1px solid pink; */
    text-align: center;
    /* margin: 5% 0; */
    padding: 2rem 0;
}
.building-addresse-info{
    color: #8f8f8f;
}

/* style the two div that are inside  this class */
.building-addresse-info >div{
    margin: 5% 0;
}

.building-addresse-info_text_thick{
    font-weight: 700;
}

.social-addresse-info li{
    list-style-type: none;
}
.social-addresse-info{
    /* border: 1px solid green; */
    margin-top: 4%;
}

.socials_links{
    display: inline-block;
    margin: 0 2%;
}



/* end of footer style */













/* start of tablet media queries */
@media screen and (min-width:500px) {
    
    .ham{

        display: none;
    }
    .nav-links-for-laptops{
        display: flex   ;
        justify-content: space-between;
        list-style-type: none;
        /* border: 1px solid red; */
        width: 60%;
        /* padding: 0 .7rem; */
    }

    .nav-links-for-laptops li a{
        text-decoration: none;
        color: var( --dark-gray);
        font-size: .8rem;

    }
    nav .logo{
        width: 30%;
    }


        .main-content-container{
            /* padding: 0 1rem; */
            /* border: 1px solid red; */
            width: 90%;
            margin: 0 auto;
        }

        .hero-section{
            border-radius: 5px;
        }


        .about_us_box{
            display: flex;
            justify-content: space-between;
        }
        .about_us_images{
            width: 30%;
        }
        .about_us_content{
            width: 50%;
            text-align: left;
        }
        .about_us_content p{
            text-align: left;
    
        }



/* start footer style */
    .footer-logo::after{
        display: none;
    }

    .footer-nav-pane{
        display: flex;
        align-items: center;
        /* border: 1px solid red; */
        justify-content: space-between;
        border-bottom: 1px solid #333333;
    }
    .footer-logo{
        width: 30%;
        /* border: 1px solid red; */
        margin: 0;
    }
    .footer-navlinks{
        /* border: 1px solid green; */
        width: 60%;
        display: flex;
        align-items: center;
        margin-top: 0;
        justify-content: space-between;
        
    }
    .footer-navlinks li a{
        font-weight: 300;
    }


    .footer-container{
        padding: 0 .7rem;
    }
  
/* end footer style */
}

@media screen and (min-width:600px) {
 

    .building-addresse-info{
        display: flex;
        justify-content: space-between;

    }

    .footer-addresses{
        display: flex;
        /* border: 1px solid  yellow; */
        justify-content: space-between;
        
    }
    .building-addresse-info{
        width: 68%;
    }
    .social-addresse-info{
        display: flex;
        align-self:center;
        justify-content: space-between;
        /* border:1px solid green; */
        width: 30%;
        margin-top: 4%;
    }
    .social-addresse-info a{
        margin:0 ;
    }
    .hero-section-phone-conatiner{
        width: 55%;
    }

    .hero__heading{
        font-size: 1.4rem;
    }
    .hero__heading p{
        font-size: 1rem;
    }

    .get_in_touch_pane{
        padding: 3.6rem 2.6rem;
        background-image: url(../img/multiple-oval.png);
        background-position:-95px 0px;
        background-size:cover;
        background-repeat: no-repeat;  
    }
    .get_in_touch_pane h2{
        font-weight: 500;
    }
}

@media screen and (min-width:733px) {


    
    .footer-container{
        width: 90%;
        margin: 0 auto;
    }

    .building-addresse-info{
        width: 60%;
    }
    .social-addresse-info{
        width: 30%;
    }


}

/* end of tablet media queries */




@media screen and (min-width:898px){
    .get_in_touch_pane{
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-content: space-around;
        border-radius: 20px;
    }
    .flexed-container{
        text-align: left;
    }
    .flexed-container p{
        text-align: left;
        /* border: 1px solid red; */
        width: 70%;

    }
    .hero-section-phone-conatiner{
        display:none;
    }

    .hero-section{
        /* border: 1px solid red;    */
        background-position-y: 49%;
        background-position-x: 109%;
        padding: 5rem 1.6rem;
        display: flex;
    }

    .hero__heading{
        /* align-self: left; */
        width: 70%;
        text-align: left;
    }
    .hero__heading p{
        margin-bottom:3%;
        margin-top:0;

    }
    .view_our_project_pane{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;
        grid-template-areas: 
        "webDev webDev appdev appdev"
        "webDev webDev appdev appdev"
        "webDev webDev graphicDesign graphicDesign"
        "webDev webDev graphicDesign graphicDesign"
        ;
        /* align-items: center; */
    }

    .project p img{
        margin-left: 0;
        
    }
    .project.project-box1{
        grid-area: webDev;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
            rgba(0, 0, 0, 0.637),
            rgba(0, 0, 0, 0.637),

            rgba(0, 0, 0, 0.637)
        ),url('../img/dillon-shook-mY3_bvR74fI-unsplash(1).jpg')no-repeat center/cover;
        /* filter: grayscale(0); */
    
        /* align-self: center; */
    }
    
    .project.project-box2{
        grid-area: appdev;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .project.project-box3{
        grid-area: graphicDesign;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about_us_pane{
        
        /* border:1px solid red; */
        display: flex;
        text-align: center;
        padding: 0;
        justify-content: space-between;
        /* margin-bottom: ; */
        
        background: url('/img/white\ balls.png') no-repeat;
        background-size: 700px;
        background-position-x: 220px;
        background-position-y: 300px;
    }   
    .about_us_box{
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid green; */
        flex-direction: column;
        width: 30%;
    }


    .about_us_content{
        width: 100%;
        text-align: center;
        /* border: 1px  solid brown; */
    }
    .about_us_content p{
        text-align: center;
        }

        .about_us_images{
            width: 50%;
            
        }
   
        


        .footer-nav-pane{
            margin-top: 4%;
            padding-bottom: 2rem;
        }
        .footer-logo{
            width: 16%;
            /* border: 1px solid green; */
            /* height: 100%; */
        }

 
        .footer-addresses{
            /* border:  1px solid yellow; */
        }

        .building-addresse-info{
            /* border: 1px solid green; */
            width: 50%;
            text-align: left;
        }
        .social-addresse-info{
            /* border: 1px solid red; */
            width: 15%;
            /* margin-right: 5%; */
        }


        .about_us_pane{
            /* border: 1px solid red; */
            margin-bottom: 0;
        }

    }
/* end of a media queries */
@media screen and (min-width:1000px){


    .footer-navlinks{
        width: 30%;
        /* border: 1px solid yellow; */
    }

    
    nav .logo{
        width: 18%;
        
    }
    nav{
        padding-top:  4rem;
        padding-bottom:  4rem;
    }

    .hero__heading{
        /* align-self: left; */
        width: 50%;
        /* border: 1px solid red; */
        /* padding-right: 2rem; */
        padding-bottom: 3rem;
        padding-left: 2rem;
        /* margin-bottom: 10px; */
    }
    .hero__heading h1{
        font-size: 3rem;
    }

    .hero-section{
        /* border: 1px solid red; */
        background-position-y: 1%;
        background-position-x: 134%;
        background-size: 800px;

    }
    .hero__heading p{
        /* padding-right: 2rem; */
            /* border: 1px solid red; */
        width: 87%;
    }

    .nav-links-for-laptops{
        width: 34%;
       
    }
    .nav-links-for-laptops li a{
        font-size: 1rem; 
    }


}