


/* start ofourcompany_about_us style */

.ourcompany_about_us{
    /* border:  1px solid red; */
}
.ourcompany_about_us_image{
    /* margin: 0; */
    background: url('../img/working.jpg') no-repeat center/cover;
    width: 100%;
    height: 50vh;
}

.ourcompany_about_us_content{
    background-color: var(--peach-color);
    color: var(--light-gray);
    
    text-align: center;
    padding: 4rem .9rem;
    /* height: 50vh; */
    background-image: url(../img/oval-buttom-thick.png);
    background-size: 400px;
    background-position-y: -169px;
    background-position-x: -3px;
    background-repeat: no-repeat;
}
.ourcompany_about_us_content h2{
    margin: 3% 0;
    font-size: 2rem;
    font-weight: 400;
}

.ourcompany_about_us_content p{

}
/* end ofourcompany_about_us style */



/* start of ourcompany_world_class */
.ourcompany_world_class_talent__image{
    background: url('../img/prettyGirl.jpg')no-repeat center/cover;
    width: 100%;
    height: 50vh;
}


.ourcompany_world_class_talent__content{
    background-color: #fcf1ef;
    padding: 3rem .9rem;
    text-align: center;

}

.ourcompany_world_class_talent__content h2{
    color: var( --peach-color);
    font-size: 2rem;
    font-weight: 500;
    margin: 3% 0;
}

.ourcompany_world_class_talent__content p{
    color: var(--dark-gray);
    /* margin: 4% 0; */
}
.ourcompany_world_class_talent__content p:first-of-type{
    margin-bottom: 5%;
}

/* end of ourcompany_world_class */


/* start of loctions pane */
.locations_pane{
    /* border: 1px solid red; */
    text-align: center;
} 
.location_box{
    margin: 5% 0;
    /* border: 1px solid red; */
    padding: 1rem 0;
} 
.location_header{
    font-size: 1.3rem;
    color: var(--dark-gray);
    letter-spacing: .4rem;
    padding: .9rem 0;
    font-weight: 500;
}
.location_box_image{

} 
/* end of loctions pane */



/* start of ourcompany_real_deal */
.ourcompany_real_deal{
    margin: 15% 0;
}


.ourcompany_real_deal__image{
    background: url('../img/realDeal.jpg')no-repeat center/cover;
    width: 100%;
    height: 50vh;
}


.ourcompany_real_deal__content{
    background-color: #fcf1ef;
    padding: 3rem .9rem;
    text-align: center;

}

.ourcompany_real_deal__content h2{
    color: var( --peach-color);
    font-size: 2rem;
    font-weight: 500;
    margin: 3% 0;
}

.ourcompany_real_deal__content p{
    color: var(--dark-gray);
    /* margin: 4% 0; */
}
.ourcompany_real_deal__content p:first-of-type{
    margin-bottom: 5%;
}

/* end of ourcompany_real_deal */

